@import url("https://fonts.googleapis.com/css?family=Fredoka+One");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.playfield{
  position: relative;
  left: 70px;
  top: 70px;
}
.grid{
  width: 480px;
  height: 480px;
  padding: 15px;
  background: rgb(167, 167, 167);

  position: absolute;
  border-radius:15px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.grid-row{
width:450px;
display: flex;
justify-content: space-between;
}
.grid-cell{
  width: 105px;
  height: 105px;
  background:rgb(194, 190, 190);
  border-radius: 5px;
}
.tile-container{
  position: absolute;
  top: 15px;
  left: 15px;
}
.tile{
  width: 105px;
  height: 105px;
  border-radius: 5px;
  transition: 100ms ease-in-out;
  transition-property: top,left;
  color: black;
  text-align: center;
  font: 48px/104px "Fredoka One", cursive;

}
.tile-position-1-1{
  position: absolute;
  left:0;
  top:0;
}

.tile-position-1-2{
  position: absolute;
  left:115px;
  top:0;
}

.tile-position-1-3{
  position: absolute;
  left:230px;
  top:0;
}

.tile-position-1-4{
  position: absolute;
  left:345px;
  top:0;
}
.tile-position-2-1{
  position: absolute;
  left:0;
  top:115px;
}

.tile-position-2-2{
  position: absolute;
  left:115px;
  top:115px;
}
.tile-position-2-3{
  position: absolute;
  left:230px;
  top:115px;
}
.tile-position-2-4{
  position: absolute;
  left:345px;
  top:115px;
}

.tile-position-3-1{
  position: absolute;
  left:0;
  top:230px;
}

.tile-position-3-2{
  position: absolute;
  left:115px;
  top:230px;
}
.tile-position-3-3{
  position: absolute;
  left:230px;
  top:230px;
}
.tile-position-3-4{
  position: absolute;
  left:345px;
  top:230px;
}

.tile-position-4-1{
  position: absolute;
  left:0;
  top:345px;
}

.tile-position-4-2{
  position: absolute;
  left:115px;
  top:345px;
}
.tile-position-4-3{
  position: absolute;
  left:230px;
  top:345px;
}
.tile-position-4-4{
  position: absolute;
  left:345px;
  top:345px;
}

.t2 {
  z-index: 1;
  background: #e5fd5efb;
}
.t2:after {
  z-index: 1;
  content: "2";
}
.t4 {
  z-index: 1;
  background: #96fd20;
}
.t4:after {
  z-index: 1;
  content: "4";
}
.t8 {
  z-index: 1;
  background: #00ff62;
}
.t8:after {
  z-index: 1;
  content: "8";
}
.t16 {
  z-index: 1;
  background: #1cd604;
}
.t16:after {
  z-index: 1;
  content: "16";
}
.t32 {
  z-index: 1;
  background: rgb(64, 199, 159);
}
.t32:after {
  z-index: 1;
  content: "32";
}
.t64 {
  z-index: 1;
  background: rgb(60, 142, 175);
}
.t64:after {
  z-index: 1;
  content: "64";
}
.t128 {
  z-index: 1;
  background: #3b38f5c7;
}
.t128:after {
  z-index: 1;
  content: "128";
}
.t256 {
  z-index: 1;
  background: #a60efd;
}
.t256:after {
  z-index: 1;
  content: "256";
}
.t512 {
  z-index: 1;
  background: #b712d4;
}
.t512:after {
  z-index: 1;
  content: "512";
}
.t1024 {
  z-index: 1;
  background: #800179;
  font-size: 36px;
}
.t1024:after {
  z-index: 1;
  content: "1024";
}
.t2048 {
  z-index: 1;
  background: #ad0051;
  font-size: 36px;
}
.t2048:after {
  z-index: 1;
  content: "2048";
}

/* Анимация */
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.tile-new {
  animation: appear 200ms ease;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}
.tile-merged {
  z-index: 20;
  animation: pop 400ms ease;
}
@keyframes move-up {
  0% {
    top: -10px;
    opacity: 1;
    transform: scale(1);
  }

  100% {
    top: -30px;
    opacity: 0;
    transform: scale(2);
  }
}
.move-up {
  animation: move-up 400ms ease;
}
/* @keyframes fade-in {
  0% {
    opacity: 0;
    display: inline;
  }

  100% {
    opacity: 1;
    display: inline;
  }
}
.fade-in {
  animation: fade-in 3000ms ease;
} */
